@{
    Layout = null;
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pizze</th>
                <th scope="col">Foto</th>
                <th scope="col">Ingredienti</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Marinara</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, aglio, origano</td>
                <td>€4.00</td>
            </tr>
            <tr>
                <td>Margherita</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, mozzarella, basilico</td>
                <td>€4.50</td>
            </tr>
            <tr>
                <td>Capricciosa</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, mozzarella, prosciutto cotto, funghi, carciofini, olive nere</td>
                <td>€7.00</td>
            </tr>
            <tr>
                <td>Quattro Stagioni</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, mozzarella, prosciutto cotto, funghi, carciofini, olive nere</td>
                <td>€7.00</td>
            </tr>
            <tr>
                <td>Diavola</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, mozzarella, salame piccante</td>
                <td>€6.00</td>
            </tr>
            <tr>
                <td>Prosciutto e Funghi</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, mozzarella, prosciutto cotto, funghi</td>
                <td>€6.50</td>
            </tr>
            <tr>
                <td>Tonno e Cipolla</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, mozzarella, tonno sott'olio, cipolla rossa di Tropea</td>
                <td>€6.50</td>
            </tr>
</div>
